<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <form [formGroup]="loginForm" (ngSubmit)="login()">
          <!--Email-->
        <div class="form-group">
          <label  for="email" class="fa fa-envelope"></label>
          <input
            type="email"
            placeholder="Email Address" 
            formControlName="email"
          />
          <!--Email validation-->
          <span
            class="text-danger"
            *ngIf="
              loginForm.controls['email'].touched &&
              loginForm.controls['email'].hasError('required')
            ">
            <h6>*enter the registered email</h6></span>
        </div>
           <!--password-->
        <div class="form-group">
          <label for="password" class="fa fa-lock"></label>
          <input
            type="password"
            placeholder="Password"
            formControlName="password"
          />
          <!--pasword validation-->
          <span
            class="text-danger"
            *ngIf="
              loginForm.controls['password'].touched &&
              loginForm.controls['password'].hasError('required')
            "
            ><h6>*create a strong password</h6></span
          >
        </div>

        <div class="text-center">
          <button
            id="submitButton"
            type="submit"
            class="btn btn-danger"
            [disabled]="!loginForm.valid" (click)="onLogin()"
          >
            Login
          </button>
        </div>
        <div class="text-center text-success" *ngIf="successMessage">
          {{ successMessage }}
        </div>
      </form>
    </div>
  </div>
</div>
