<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <form [formGroup]="loginForm" (ngSubmit)="login()">
          <!--Email-->
        <div class="form-group">
          <label  for="email"></label>
          <input
            type="email"
            placeholder="Email Address" 
            formControlName="userEmail"
          />
          <!--Email validation-->
          <span
            class="text-danger"
            *ngIf="
              loginForm.controls['userEmail'].touched &&
              loginForm.controls['userEmail'].hasError('required')
            ">
            <h6>*Enter the registered email</h6></span>
        </div>
           <!--password-->
        <div class="form-group">
          <label for="password"></label>
          <input
            type="password"
            placeholder="Password"
            formControlName="userPassword"
          />
          <!--pasword validation-->
          <span
            class="text-danger"
            *ngIf="
              loginForm.controls['userPassword'].touched &&
              loginForm.controls['userPassword'].hasError('required')
            "
            ><h6>*Create a strong password</h6></span
          >
        </div>
        <!--Login-->
        <div class="text-center">
          <button
            id="submitButton"
            type="submit"
            class="btn btn-danger"
            [disabled]="!loginForm.valid"  routerLink='/dashboard'  (click)="onLogin()"
           >
          Login
          </button>   
        </div>
        <!--Login sucessMessage-->
        <div class="text-center text-success" *ngIf="successMessage">
          {{ successMessage }}
        </div>
      </form>
    </div>
  </div>
</div>




