<!-- Cards with media area -->
<div class="dashboardContainer"></div>
<div class="credit-cards">
  <mat-card class="example-card">
    <mat-card-title-group>
      <mat-card-title>AXIS BUZZ</mat-card-title>
      <span>AXIS BANK</span>

      <mat-card-subtitle>3423 45XX XXXX 2345</mat-card-subtitle>
    </mat-card-title-group>

    <div class="logo"></div>
    <mat-card-content>
      {{ longText }}
    </mat-card-content>
    <button>Pay bill </button>
    <button>View Transaction</button>
  </mat-card>
</div>

<div class="credit-cards">
  <mat-card class="example-card-canara">
    <mat-card-title-group>
      <mat-card-title>CANARA BUZZ</mat-card-title>
      <span>CANARA BANK</span>

      <mat-card-subtitle>3456 45XX XXXX 4567</mat-card-subtitle>
    </mat-card-title-group>

    <div class="logo"></div>
    <mat-card-content>
      {{ longText1 }}
    </mat-card-content>
    <button>Pay bill </button>
    <button>View Transaction</button>
  </mat-card>
</div>

<div class="credit-cards">
    <mat-card class="example-card-hdfc">
      <mat-card-title-group>
        <mat-card-title>HDFC BUZZ</mat-card-title>
        <span>HDFC BANK</span>
  
        <mat-card-subtitle>3456 45XX XXXX 4567</mat-card-subtitle>
      </mat-card-title-group>
  
      <div class="logo"></div>
      <mat-card-content>
        {{ longText2 }}
      </mat-card-content>
      <button>Pay bill</button>
      <button>View Transaction</button>
    </mat-card>
  </div>
