<div id="appContainer">
  <div class="row align-items-center h-100">
    <div class="col-md-5 col-sm-10 mx-auto">
      <h1>PAY YOUR BILLS WITH EASE ..!!</h1>
      <div id="cardStyle" class="card justify-content-center">
        <!--Merge Login and register-->
        <div>
          <button
            class="btn"
            [class.btn-primary]="flag"
            type="button"
            style="width: 50%"
            (click)="apply('login')"
          >
            Login
          </button>
          <button
            class="btn"
            [class.btn-primary]="!flag"
            type="button"
            style="width: 50%"
            (click)="apply('reg')"
          >
            Register
          </button>
        </div>
        <!--Logic for changing button-->
        <div class="card-body">
          <div *ngIf="flag">
            <app-login></app-login>
          </div>
          <div *ngIf="!flag">
            <app-register></app-register>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
